:root {
  --color-1: #eceff4;
  --color-2: #5e81ac;
  --background-color-1: #2e3440;

  --color-github: #6e5494;
  --color-linkedin: #006192;

  /* Cores do gradiente do
  Instagram */

  --white: #fff;
  --blue: #3051f1;
  --purple: #c92bb7;
  --red: #f73344;
  --orange: #fa8e37;
  --yellow: #fcdf8f;
  --yellow_to: #fbd377;

  --font-1: "Inter", sans-serif;
}

/* Defaults */

body {
  width: 100%;
  background-color: var(--background-color-1);
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-1);
  text-align: center;
  font-family: var(--font-1);
}

/* Main section */

.main-section {
  margin: auto;
  display: block;
  padding-top: 4%;
  width: 40%;
}

/* Div das informações da pessoa */

#foto-da-pessoa {
  width: 38%;
  height: auto;
  border-radius: 50%;
  margin: auto;
  display: block;
  padding: 1%;
  border: 8px solid var(--color-2);
}

h1.titulo {
  font-family: var(--font-1);
  font-size: 240%;
  font-weight: bold;
  text-transform: uppercase;
}

h2.subtitulo {
  font-family: var(--font-1);
  font-size: 340%;
  font-weight: 200;
  margin-top: -40px;
}

/* Parte dos links da pessoa */

.button {
  color: var(--background-color-1);
  font-family: var(--font-1);
  letter-spacing: 0.25%;
  font-size: 160%;
  text-align: center;
  background-color: var(--color-1);
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*
  padding-left: 20px;
  padding-right: 20px;
  */
  display: block;
  text-decoration: none;
  width: 70%;
}

.button:hover {
  color: var(--background-color-1);
  font-family: var(--font-1);
  background-color: var(--color-1);
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  transition: 0.5s;
  text-decoration: none;
}

#instagram {
  background-color: var(--color-1);
  border: 0px solid var(--color-1);
  transition: 0.1s;
}

#instagram:hover {
  color: white;
  background: radial-gradient(
      circle farthest-corner at 28% 100%,
      var(--yellow) 0%,
      var(--yellow_to) 10%,
      var(--orange) 22%,
      var(--red) 35%,
      transparent 65%
    ),
    linear-gradient(145deg, var(--blue) 10%, var(--purple) 70%);
  border: 0px solid var(--color-1);
  transition: 0.1s;
}

#linkedin {
  border: 0px solid var(--color-1);
}

#linkedin:hover {
  color: white;
  font-family: var(--font-1);
  background-color: var(--color-linkedin);
  border: 0px solid var(--color-1);
}

#github {
  color: var(--background-color-1);
  font-family: var(--font-1);
  background-color: var(--color-1);
  border: 0px solid var(--color-1);
}

#github:hover {
  color: white;
  font-family: var(--font-1);
  background-color: var(--color-github);
  border: 0px solid var(--color-1);
}

/* Mobile */
@media only screen and (max-device-width: 1200px) and (orientation: portrait) {
  /* Main section */

  .main-section {
    margin: auto;
    display: block;
    width: 88%;
  }

  h1.titulo {
    font-family: var(--font-1);
    font-size: 420%;
    font-weight: bold;
  }

  h2.subtitulo {
    font-family: var(--font-1);
    font-size: 380%;
    font-weight: 200;
    margin-top: -40px;
  }

  /* Parte com os links da pessoa*/

  .button {
    font-family: var(--font-1);
    letter-spacing: 0.25%;
    font-size: 340%;
    text-align: center;
    border: 2px solid var(--color-1);
    border-radius: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    margin-top: 14%;
    margin-bottom: 14%;
    transition: 0.5s;
    display: block;
    text-decoration: none;
  }

  .button:hover {
    font-family: var(--font-1);
    background-color: var(--color-1);
    border-radius: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    transition: 0.5s;
    text-decoration: none;
  }
}
